$background-color: #171616;
$primary-font-color: #ffffff;
$line-color: #d9d7d7;
$placeholder-color: #e6dfdf;
$sub-text: #b7b5b5;
$border-color: #636161;
$add-task-icon: #917c26;
$close-button: #403e37;
$save-button: #dbc574;
